body {
  background-color: #1f1f1f;
  color: #eee;
}

.github-user .user-name {
  color: #eee;
}

.github-user img {
  border: 2px solid #eee;
}

.user-repositories .card {
  background-color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.user-repositories .card .card-title {
  color: #eee;
}

.user-repositories .card .card-description {
  color: #ccc;
}
